{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_videosummary/reference_editor

    Example context (json):
    {
        Aqui tem que criar o context em inglês
    }
}}
<div class="videosummary-reference-editor" data-region="reference-editor" data-existing="{{existingjson}}">
    <h3>{{#str}}references, videosummary{{/str}}</h3>
    <p class="text-muted">{{#str}}referenceexample, videosummary{{/str}}</p>
    <div data-region="reference-list"></div>
    <button type="button" class="btn btn-outline-secondary" data-action="add-reference">
        {{#str}}addreference, videosummary{{/str}}
    </button>
</div>
